jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "{{admin_password}}"
  authorizationStrategy:
    fullControlOnceLoggedIn:
      allowAnonymousRead: false
  crumbIssuer:
    standard: {}

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              id: "github-token"
              username: "Margulwb"
              password: "{{ github_token }}"
jobs:
  - script: >
      freeStyleJob('Seed-Job-Admin') {
          displayName('PRO: Generator Infrastruktury (Seed)')
          description('Ten job skanuje repozytorium i tworzy joby dla Ansible')
          
          scm {
              git {
                  remote {
                      url('https://github.com/Margulwb/update-os.git')
                      credentials('github-token')
                  }
                  branches('feature/jenkinsfile-generate')
              }
          }
          
          steps {
              jobDsl {
                  targets 'jobs/definitions.groovy'
                  removedJobAction('DELETE')
                  removedViewAction('DELETE')
                  lookupStrategy('JENKINS_ROOT')
                  // W Freestyle Jobie domyślnie NIE zaznaczamy "Use Groovy Sandbox"
                  // Dzięki temu skrypt ma pełne uprawnienia bez Approve!
              }
          }
          
          triggers {
              scm('H/5 * * * *') // Sprawdzaj zmiany w repo co 5 minut
          }
      }
  - script: >
      multibranchPipelineJob('Update-OS-generated') {
          branchSources {
              branchSource {
                  source {
                      git {
                        remote('https://github.com/Margulwb/update-os.git')
                        credentialsId('github-token')
                        traits {
                            branchDiscoveryTrait()
                            headWildcardFilter {
                                includes('feature/*')
                                excludes('')
                            }
                        }
                      }
                  }
              }
          }
          triggers {
              periodicFolderTrigger {
                  interval('1h') 
              }
          }
          orphanedItemStrategy {
              discardOldItems {
                  daysToKeep(7)
                  numToKeep(10)
              }
          }
        factory {
              workflowBranchProjectFactory {
                  scriptPath('Jenkinsfile')
              }
          }
      }