jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "{{admin_password}}"
  authorizationStrategy:
    fullControlOnceLoggedIn:
      allowAnonymousRead: false
  crumbIssuer:
    standard: {}

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              id: "github-token"
              username: "Margulwb"
              password: "{{ github_token }}"
jobs:
  - script: >
      multibranchPipelineJob('Update-OS-generated') {
          branchSources {
              branchSource {
                  source {
                      git {
                        remote('https://github.com/Margulwb/update-os.git')
                        credentialsId('github-token')
                        traits {
                            branchDiscoveryTrait()
                            headWildcardFilter {
                                includes('feature/jenkinsfile-generate')
                                excludes('')
                            }
                        }
                      }
                  }
              }
          }
          triggers {
              periodicFolderTrigger {
                  interval('1h') 
              }
          }
          orphanedItemStrategy {
              discardOldItems {
                  daysToKeep(7)
                  numToKeep(10)
              }
          }
        factory {
              workflowBranchProjectFactory {
                  scriptPath('Jenkinsfile')
              }
          }
        configure { node ->
              node / 'properties' / 'javaposse.jobdsl.plugin.ManagementJobProperty' {
                  useScriptSecurity('false')
              }
          }
      }