
- name: Read Prometheus variables
  include_vars:
    file: ../group_vars/prometheus.yml

- name: Stop Prometheus container(s)
  community.docker.docker_compose_v2:
    project_src: "{{ compose_dir }}"
    state: absent

# - name: Sleep for 10 seconds
#   ansible.builtin.shell: sleep 10

- name: Wait until Prometheus container stops
  shell: >
    docker ps --filter "name={{ prometheus_service_name }}" -q
  register: prometheus_containers
  retries: 10
  delay: 5
  until: prometheus_containers.stdout == ""
  changed_when: false

- name: Run update and reboot if needed
  import_role:
    name: base

- name: Start Prometheus container(s)
  community.docker.docker_compose_v2:
    project_src: "{{ compose_dir }}"
    state: present

- name: Wait for Prometheus to become healthy
  uri:
    url: "{{ prometheus_health_url }}"
    status_code: 200
  register: health
  retries: 20
  delay: 5
  until: health.status == 200
  changed_when: false